html, body {
    /*background: radial-gradient(circle, rgba(166,14,146,0.9402135854341737) 1%, rgba(174,37,230,0.9009978991596639) 69%, rgba(132,20,214,0.9150035014005602) 96%);*/
    background-color: silver;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: red;
}